* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  background-color: lightgrey; */
}

header,
body {
    text-align: center;
    padding: 24px;
}

body button {
    padding: 7px;
    margin: 6px;
}

#images {
    display: flex;
    justify-content: center;
    padding: 24px;
}

.player p,
.bot p {
    width: 150px;
    background-color: grey;
    color: black;
}

.box {
    width: 150px;
    height: 150px;
    background-color: grey;
}